@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;1,500;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,500;1,700&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-size: 100%;
	font-weight: normal;
	color: #000000;
	list-style: none;
	text-decoration: none;
}

:root {
	--brandColor: #FCC822;
	--primaryFont: 'Poppins', sans-serif;
	--secondFont: 'Roboto', sans-serif;
}

.App {
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	height: auto;
	background-color: #F2F2F2;
}

.App .container {
	display: flex;
	justify-content:center;
	flex-direction: column;
	width: 836px;
	min-height: 568px;
	height: auto;
	padding: 0 0 17.5px 0;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: 2% 100%;
	background-size: 200px;
}

/* NAVIGATION START */

.container .navigation {
	display: inline-flex;
	justify-content: center;
	width: 774px;
	height: auto;
	border-bottom: 0.5px solid #ECECE8;
	padding: 10px 0;
	margin: 0 auto;
}

.navigation .navigationContent {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 733px;
	height: 34px;
}

.navigationContent .userDrapDown {
	position:relative;
	display: inline-flex;
	align-items: center;
	gap: 6px;
	width: auto;
	height: 21px;
	font-size: 14px;
	font-weight: 400;
	font-family: var(--primaryFont);
	color: var(--brandColor);
}

.userDrapDown .dropDownMenu {
	position: absolute;
	bottom: -160px;
	display: none;
	left: 50%;
	transform: translateX(-50%);
	width: 130px;
	height: 150px;
	border-radius: 6px;
	padding: 5px 5px;
	box-shadow:  1px 1px 7px 0px #0000001f;
	background-color: #ffffff;
}

.userDrapDown:focus-within .dropDownMenu {
	display: inline;
}


.dropDownMenu ul li {
	width: 100%;
	padding: 5px 0 0 10px;
	font-size: 14px;
	font-weight: 400;
	font-family: var(--primaryFont);
	color: #828282;
	cursor: pointer;
	border-bottom: 1px solid #8282823d;
}

.navigationContent .loginButton {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 71px;
	height: 37px;
	font-size: 12px;
	font-weight: 500;
	font-family: var(--primaryFont);
	cursor: pointer;
	background-color: #ffffff;
	border: 1px solid var(--brandColor);
	color: var(--brandColor);	
}



/* NAVIGATION END */


/* HOME CONTENT START */

.homeContent {
	width: 424px;
	height: 450px;
	margin-top: 66px;
	padding: 40px 0 0 103px;
}

.homeContent header {
	width: 270px;
	height: 131px;
}

.homeContent header h1 {
	font-size: 37px;
	font-weight: 500;
	font-family: var(--scondFont);
	color: #333333;
}

.homeContent .subHeader {
	display: flex;
	align-items: center;
	width: auto;
	height: 26px;
	margin: 38px 0 35px 0;
	padding-left: 11px;
	border-left: 1.2px solid #333333;
}

.subHeader p {
	font-size: 14px;
	font-weight: 500;
	font-family: var(--scondFont);
	color: #828282;
}

.homeContent .startQuiz {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 37px;
	cursor: pointer;
	background-color: var(--brandColor);
	box-shadow: 0px 10px 23px -7px #FBE18F;
}

.startQuiz span {
	font-size: 14px;
	font-weight: 500;
	font-family: var(--primaryFont);
    color: #ffffff;
}

/* HOME CONTENT END */

/* CHOOSE TOPIC START */

.App .chooseTopicContent {
	position:absolute;
	display: inline-flex;
	justify-content:center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #00000080;
	z-index: 10;
}

.chooseTopicContent .choosingSubject {
	position: relative;
	width: 717px;
	height: 414px;
	padding: 17px;
	background-color: #ffffff;
}

.choosingSubject img {
	float: right;
	cursor: pointer;
}

.choosingSubject header {
	width: 437px;
	display: block;
	margin: 62px auto 20px auto;
}

.choosingSubject header h1 {
	font-size: 37px;
	font-weight: 500;
	font-family: var(--secondFont);
}

.choosingSubject .choosToicSubTitle {
	width: 257px;
	margin: 0 auto;
}

.choosToicSubTitle p {
	font-size: 15px;
	font-weight: 400;
	font-family: var(--secondFont);
	color: #333333;
}

.choosingSubject .topic {
	display: inline-flex;
	justify-content: center;
	width: auto;
	height: auto;
	margin: 27px 50px 0 69px;
}


.topic ul {
	display: inline-flex;
	width: auto;
	height: auto;
	margin: 0 auto;
	flex-wrap: wrap;
	gap: 25px;
}

.topic ul li {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 6px;
	height: 24px;
	font-size: 13px;
	font-weight: 500;
	font-family: var(--secondFont);
	color: #000000;
	background-color: #D1D1D1;
	cursor: pointer;
}

.topic .isActive {
	font-size: 13px;
	font-weight: 500;
	padding: 0 0 0 6px;
	font-family: var(--secondFont);
	color: #000000;
	background-color: var(--brandColor);
	cursor: pointer;
}

.topic .isActive span {

	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 26px;
	height: 24px;
	margin-left: 6px;
	background-color: black;
}

.isActive span img {
	width: 50%;
}
.choosingSubject button {
	position: absolute;
	width: 120px;
	height: 37px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	bottom: 30px;
	right: 30px;
	font-family: var(--primaryFont);
    color: #ffffff;
	background-color: var(--brandColor);
	box-shadow: 0px 10px 23px -7px #FBE18F;
}

/* CHOOSE TOPIC END */

/* PROGRESS BAR START */

.container .progressContent {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 23px;
	margin-bottom: 20px;
}

.progressContent ul {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
	height: 100%;
}

.progressContent ul li {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 95px;
	height: 23px;
}

.progressContent ul li:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	left: 50%;
	background-color: var(--brandColor);
	z-index: 0;
}

.progressContent ul li:before {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	right: 50%;
	background-color: var(--brandColor);
	z-index: 0;
}

.progressContent ul li:first-child:before {
	display: none;
}

.progressContent ul li:last-child:after {
	display: none;
}

.progressContent ul li span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 23px;
	height: 23px;
	text-align: center;
	border-radius: 9999px;
	border: 4.96px solid var(--brandColor);
	background-color: white;
	z-index: 100;
}

.progressContent ul li span p {
	font-size: 13px;
	font-weight: 500;
	font-family: var(--secondFont);
	color: #333333;
}

/* PROGRESS BAR END */


/* QUIZ QUEST CONTENT START */

.container .questContent {
	width: 100%;
	height: auto;
	padding: 44px 27px;
	text-align: center;
	background-color: var(--brandColor);
}

.questContent h1 {
	font-size: 27px;
	font-weight: 400;
	color: #ffffff;
}

/* QUIZ QUEST CONTENT START */


.container .optionsContent {
	display: flex;
	justify-content: space-around;
	width: 550px;
	height: 200px;
	margin: 33px auto;
	background-color: red;
}

.optionsContent  .quizOptions {
	display: inline-flex;
	justify-content:  space-between;
	flex-direction: column;
	align-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	background-color: white;
}

.quizOptions .options {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items:center;
	min-width: 150px;
	width: auto;
	height: 84px;
	cursor: pointer;
	padding: 0 15px;
	background-color: #D1D1D1;
	transition: 200ms all;
}

.quizOptions .options p {
	font-weight: 600;
	font-size: 20px;
	font-family: var(--primaryFont)
}


.options .choiceName {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 13px;
	font-weight: 400;
	color: #333333;
	font-family: var(--primaryFont)
}

.quizOptions .options:hover   {
	background-color: var(--brandColor);
}

.options:hover p, .options:hover .choiceName {
	color: white;
}


.container .controlContent {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px 0 100px;
}

.controlContent .button {
	padding: 8.13px 15.09px; 
	cursor: pointer;
	background-color: transparent;
}

.controlContent .previous {
	box-shadow: 0px 5px 23px -6px #D1D1D1;
	background-color: #D1D1D1;
}

.previous .arrowIcon {
	fill: #333333;
	transform: rotate(180deg);
	margin-right: 5px;

}

.controlContent .next {
	width: 76px;
	height: 34px;
	color: #ffffff;
	background-color: var(--brandColor);
	box-shadow: 0px 5px 23px -6px #FBE18F;
}

.next .arrowIcon {
	margin-left: 5px;
	fill: #ffffff;
} 

.controlContent .skip {
	color: var(--brandColor);
	margin: 0 5px 0 10px;
}

.controlContent .quizTimer {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	color: #122738;
	font-weight: 400;
	font-family: var(--primaryFont);
	font-size: 14px;
	background-repeat: no-repeat;
}

.skip svg {
	margin-top: 5px;
	fill: var(--brandColor);
}

.hiddenContent {
	visibility: hidden;
}


.container .loginContainer {
	width: inherit;
	height: inherit;
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.inputContainer {
	width: 424px;
	height: 100%;
	padding: 40px 0 0 37px;
}


.inputContainer header {
	width: 270px;
	height: 35px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 45px;
	color: #00000099;
	font-weight: 400;
	font-size: 14px;
	font-family: var(--primaryFont);
}


.inputContainer .inputContent {
	position: relative;
	display: inline-flex;
	width: 347px;
	height: 42px;
	border: 1px solid #C1BBBB;
}

.inputContent:before {
	position: absolute;
	display: none;
	content: '';
	width: 2px;
	height: 100%;
	background-color: var(--brandColor);
}


.xxx:focus-within .inputContent:before {
	display: inline-block;
}

.inputBox {
	margin-left: 14px;
}



.inputBox label {
	font-size: 10px;
	font-weight: 400;
	font-family: var(--secondFont);
	color: rgba(0, 0, 0, 0.61);
}


.inputBox input {
	display: inline-block;
	width: 300px;
	height: auto;
	font-size: 11px;
	font-weight: 500;
	font-family: var(--secondFont);
	color: var(--brandColor);
	background-color: transparent;
}


.inputBox input::placeholder {
	font-size: 11px;
	font-weight: 500;
	font-family: var(--secondFont);
	color: var(--brandColor);
}


.inputContainer .singInContent {
	position: relative;
	display: inline-flex;
	justify-content: space-between;
	width: 347px;
	margin-top: 20px;
	color: red;
}

.singInContent .remanberMeContent {
	display: inline-flex;
	align-items: center;
	padding-left: 14px;
	width: auto;
	height: auto;
}


.remanberMeContent .inValid {
	position: absolute;
	left: 0%;
	width: 10px;
	height: 10px;
	border: 0.58px solid #B4B4B4;
}

.remanberMeContent .isActive {
	display: inline-block;
	content: 'dasd';
	position: absolute;
	left: 0%;
	width: 10px;
	height: 10px;
	border: 0.58px solid  var(--brandColor);
	background-color: var(--brandColor);
}

.remanberMeContent input[type="checkbox"] {
	display: none;
}


.remanberMeContent, .forgotPassword, .remanberMeContent label {
	font-size: 11px;
	font-weight: 400;
	font-family: var(--secondFont);
	color: rgba(0, 0, 0, 0.61);
}

.inputContainer .loginAndSingUpContent {
	width: auto;
	height: auto;
	margin-top: 47px;
}

.loginAndSingUpContent button {
	width: 71px;
	height: 37px;
	font-size: 12px;
	font-weight: 500;
	font-family: var(--primaryFont);
	cursor: pointer;
}

.loginAndSingUpContent button:first-child {
	background-color: var(--brandColor);
	box-shadow: 0px 10px 23px -6px #FBE18F;
	color: #ffffff;
}

.loginAndSingUpContent button:last-child {
	border: 0.58px solid var(--brandColor);
	background-color: #ffffff;
	box-shadow: 0px 10px 23px -6px #FBE18F;
	margin-left: 29px;
	color: var(--brandColor);
}

.loginWithsocialMedia {
	display: inline-flex;
	justify-content: space-between;
	width: 184px;
	margin-top: 45px;
}

.loginWithsocialMedia p {
	font-size: 11px;
	font-weight: 700;
	font-family: var(--secondFont);
	color: var(--brandColor);
	cursor: pointer;
}

.loginWithsocialMedia p:first-child {
	color: #00000099;
	font-weight: 400;
	cursor: auto;
}